<h4>Show in posts</h4>
<h3>  <%= link_to  "Home" ,root_path %></h3>
<div class="users" >

<h5>I love rock</h5>
<div >
  <h2>Post by: <%= @user.name%> </h2> 

 
  <h2> <%= @post.text%> </h2> 
    <h2> Comments <%= @post.comments_counter%> </h2> 
  <h2> Likes <%= @post.likes_counter%> </h2> 
 
</div>
      <h3>  <%= link_to  "New comment" ,new_user_post_comment_path(@user.id,@post.id) %></h3>
      <h3>  <%= link_to  "Like Post" ,new_user_post_like_path(@user.id,@post.id) %></h3>

</div>
<% @post.comments.each do |comment| %>
      <p><%= comment.user.name %>:     <%= comment.text %></p>
<% end %>
